.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
#map-canvasContainer{
    height: 300px;
    width: 320px;
    position: relative;
    padding: 10px;
}

#map-canvas{ height: 100% }

