<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="eventsAppApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="http://www.gannett-cdn.com/indystar/static/css/print.css" media="print">
    <link rel="stylesheet" href="http://www.gannett-cdn.com/indystar/static/css/bundles/main_modern.min.css">

    <!-- endbuild -->
  </head>
  <body class=" site-theme-dark-blue expanded-footer" >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<starheader></starheader>



    <!-- Add your site or application content here -->
    <div class="container">
      <article id="cards" class="cards">
        <div class="partner-placement partner-slider-ad">
          <a href="#" class="partner-slider-close ui-sprite-before">Close</a>
        </div>
        <div class="card-container">
          <div class="card-wrap">
            <div class="partner-placement partner-pushdown-ad" id="ad-position-53" data-monetization-id="high_impact" data-monetization-sizes="pushdown,iabpushdown,iabpushdown2,billboard">
              <a href="#" class="partner-close"></a>
            </div>
            <section id="section_home" class="home card   card-bumped" data-section-id="home" data-subsection-id="">
              <div class="partner-leavebehind compact" id="ad-position-72" style="display: none;"></div>
              <div class="card-full-width" id="card_full_width_main">
                <!-- stuff -->
                <a href="#" class="open-sidebar sidebar-button"><div class="icon"></div> RIGHT NOW</a>
                <div class="card-primary-wrapper clearfix">
                  <div class="card-suspender-color home"></div>
                  <section id="module-position-2" class="quicklinks-module card-suspender">
                    <p class="slst-header">Quick Links</p>
                    <ul class="quick-links-list">
                      <li class="quick-links-item">
                        <a href="https://account.indystar.com/" class="clst-link" data-uotrack="quick-links-subscriber services" target="_blank">Best Bets</a>
                      </li>
                      <li class="quick-links-item">
                        <a href="https://myaccount.indystar.com/e-ed" class="clst-link" data-uotrack="quick-links-e-newspaper" target="_blank">Family Friendly</a>
                      </li>
                      <li class="quick-links-item"><a href="/indy911" class="clst-link" data-ht="quick-links-indy 911">Dining</a>
                      </li>
                    </ul>
                  </section>
                  <section id="module-position-3" class="card-primary hero-module">
                    <div class="front-bump-shadow"></div>
                    <!-- hero stuff -->
                    <div class="below-hero-ad-module clearfix">
                      <div class="below-hero-popular"></div>
                      <div class="below-hero-ad partner-placement"></div>
                    </div>
                  </section>
                  <section id="module-position-4" class="quicklinks-module card-suspender">
                    <ul class="quick-links-list">

                    </ul>
                  </section>
                  <section id="module-position-6" class="card-primary local-weather-module">
                    <div class="local-weather light large-icons right-now-weather-primary">
                      <div class="local-weather-primary-module">
                        <h5 class="local-weather-primary-module-title">Local Weather</h5>
                        <p class="local-weather-location">Indianapolis, IN</p>
                        <ul class="local-weather-forecast">
                          <li class="local-weather-forecast-item first">
                            <p class="local-weather-forecast-hour">Monday</p>
                            <div class="local-weather-wicon wicon-3" title=""></div>
                            <p class="local-weather-forecast-temperature">38<sup>°</sup>/14<sup>°</sup></p>
                          </li>
                          <li class="local-weather-forecast-item ">
                            <p class="local-weather-forecast-hour">Tuesday</p>
                            <div class="local-weather-wicon wicon-22" title=""></div>
                            <p class="local-weather-forecast-temperature">16<sup>°</sup>/0<sup>°</sup></p>
                          </li>
                          <li class="local-weather-forecast-item ">
                            <p class="local-weather-forecast-hour">Wednesday</p>
                            <div class="local-weather-wicon wicon-19" title=""></div>
                            <p class="local-weather-forecast-temperature">17<sup>°</sup>/-2<sup>°</sup></p>
                          </li>
                          <li class="local-weather-forecast-item ">
                            <p class="local-weather-forecast-hour">Thursday</p>
                            <div class="local-weather-wicon wicon-3" title=""></div>
                            <p class="local-weather-forecast-temperature">15<sup>°</sup>/-6<sup>°</sup></p>
                          </li>
                        </ul>
                        <p class="local-weather-more-btn-wrap">
                          <a class="ui-btn ui-light local-weather-btn" href="/weather/" data-ht="localweather|moreweather">More Weather</a>
                        </p>
                        <div class="right-now-sponsor-wrapper">
                          <div class="partner-placement right-now-weather-sponsorship-ad">
                            <div class="right-now-weather-presented sponsored-by-text">presented by</div>
                          </div>
                        </div>
                      </div>
                      <div class="partner-placement right-now-weather-rectangle-ad poster-ad-primary toggleView" data-ad-type="poster" data-ad-placement="poster_front" data-ad-sizes="mediumrectangle"></div>
                    </div>
                  </section>
<!-- here be the meat -->
                  <section id="module-position-7" class="card-primary headline-grid-module">
                    <div class="front-headlines-header">
<!-- enter search function here -->
                      <h5 class="headlines-header-title">Headlines</h5>
                      <p class="headlines-header-time">Updated 2:35 p.m. EST</p>
                      <div ng-controller="GithubuserCtrl">
                        <label for='username'>
                          Search Placeholder
                        </label>
                        <input type='text'
                            ng-model='username'
                            placeholder="Search Placeholder" />

                        <ul>
                          <li ng-repeat="event in events">
                            {{event.actor.login}} {{event.repo.name}}
                          </li>
                        </ul>
                      </div>
                      <ul class="ui-button-toggle ui-light headline-toggler front-headline-toggler ">
                        <li class="ui-button-toggle-item ui-btn grid-big headline-toggler-gridview active">Grid</li>
                        <li class="ui-button-toggle-item ui-btn list-big headline-toggler-listview ">List</li>
                      </ul>
                    </div>
                    <div class="headline-collection clearfix" data-vr-zone="Headline-Grid" data-items-per-page="9">

<!-- enter auto-repeating stuff here -->
                    </div>
                    <div class="headlines-show-more">
<!-- link to load next 9 events -->
                      <a href="#" class="button-add-content" data-default="Show More News" data-next="" data-loading="Loading More News">Show More News</a>
                    </div>
                  </section>
                  <section id="module-position-8" class="video-carousel-module card-primary-suspender">
                    <div class="video-carousel-suspender card-suspender"></div>
                  </section>
                </div>
<!-- sidebar content -->
                <div class="sidebar sidebar-home dark">
                  <a href="#" class="close-sidebar sidebar-button hide">
                    <div class="icon"></div>
                  </a>
                  <div class="sidebar-wrapper">
                    <div class="sidebar-fixed-content" >                      
                    </div>
                    <div class="sidebar-scrollable-window">

                    </div>
                  </div>
                </div>
              </div>

              <section id="module-position-16" class="blogs-module card-full-width"></section>
              <div class="sh_bottom"></div>
            </section>
          </div>
        </div>

    <starfooter></starfooter>

        <div class="partner-overlay">
          <div class="partner-placement" id="ad-position-37" data-monetization-id="high_impact" data-monetization-sizes="elastic">
            <a href="#" class="partner-close partner-overlay-close"></a>
          </div>
          <div class="ui-film show"></div>
        </div>
      </article>


    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="http://www.gannett-cdn.com/indystar/static/js/libs/modernizr/modernizr.js"></script>
        <script src="http://www.gannett-cdn.com/indystar/static/uscp-web-static-11.1.0/jsb/main.min.js"></script>

        <!-- maps tracking includes -->
        <script src="https://magellan.planetdiscover.com//proxy.js?version=3&channel=indystar&jskey=dca18a10-f7d8-0130-6ec2-000c2973d5a9&libraries"></script>
        <script src="https://magellan.planetdiscover.com//tracker.js?jskey=dca18a10-f7d8-0130-6ec2-000c2973d5a9"></script>
        <!-- PlanetDiscover Javascript API -->
        <script src="http://indylb-2135524474.us-east-1.elb.amazonaws.com/digital/production/PlanetDiscover/wp-content/themes/noteworthy/library/js/pdjsapi/PD_event_categories_flat.js"></script>

        <script src="scripts/PDAPI_noJames.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/hopeThisHeaderWorks.js"></script>
        <script src="scripts/directives/starfooter.js"></script>
        <script src="scripts/controllers/eventList.js"></script>

        <script src="scripts/services/pdAPICall.js"></script>
        <script src="scripts/services/githubTest.js"></script>
        <script src="scripts/controllers/githubUser.js"></script>
        <!-- endbuild -->
</body>
</html>
